<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Django</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">blog</a>
              </li>
            
              <li class="nav-item">
                <a class="nav-link" href="/services">services</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/contact">contact us</a>
              </li>

            <li class="nav-item">
              <a class="nav-link" href="/about">about</a>
            </li>
            {% if not request.user.is_authenticated %}
                  <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   New User?
                  </a>
                  <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/Login">Login</a></li>
                  <li><a class="dropdown-item" href="/Signup">Signup</a></li>
                  <li><hr class="dropdown-divider"></li>
                
                  </ul>
               </li>
              {% endif %}

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                WELCOME {{request.user}}
                </a>
                <ul class="dropdown-menu">                  
                  {% comment %} <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/Login">Login</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/Signup">Signou</a></li> {% endcomment %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/Logout">Logout</a></li>
                </ul>
              </li>

            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

     {% for message in messages %}
      <div class="alert bg-light alert-{{message.tags}} alert-dismissible fade show" role="alert">
       <strong></strong>{{message}}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
     </div>  
     {% endfor %}
    {%block body %}
    
    {% endblock body %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>