{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    
<div class="container mt-3">
  <div class="row">

    <div class="col-md-8">
      <img src="static/image/new.jpg" class="img-thumbnail" alt="...">
    </div>
    <div class="col-md-4 mt-3">
     <h2 class="text-block "> <b>Login</b></h2>
  {% for message in messages %}
     <div class="alert bg-light alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <strong></strong>{{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>  
    {% endfor %}



     <form action="/Login" method="post"> {% csrf_token %}
      <label class="text-block mt-3 ">UserName/Email</label>
      <div class="form-group">
        <input type="text" class="form-control " name="UserName" Required>
      

      <label class="text-block mt-3">password</label>
      <div class="form-group">
        <input type="password" class="form-control " name="pass1"  Required>
      </div>

        

      <div class="d-grid gap-2 mt-3">
        <button class="btn btn-danger " type="submit">Login</button>
        
      </div>
      <br><br>
      <p>Not User? <a href="/Signup"> Signup</a></p>
    
     </form>
    </div>
  </div>
</div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>